<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Errors</h4>
            </div>
            <div class="panel-body" style="overflow: scroll;width: 99%;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Timestamp</th>
                            <th>Level</th>
                            <th>Message</th>
                            <th>Meta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in vm.errors track by $index">
                            <th scope="row">{{$index + 1}}</th>
                            <td>
                                <span>{{value.timestamp}}</span>
                            </td>
                            <td>
                                <span>{{value.level}}</span>
                            </td>
                            <td>
                                <span>{{value.message}}</span>
                            </td>
                            <td>
                                <a ng-show="expand" ng-click="expand=false">Collapse</a>
                                <a ng-show="!expand" ng-click="expand=true">Expand</a>
                                <pre ng-show="expand">{{value.meta.stack}}</pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>