/* global styling */
/* import css framework first - bootstrap example*/
/*@import 'foundation';*/
/*@import 'materialize';*/
@import 'global-variables.styles.scss';/* copy of bootstrap variables for custom theme*/
@import 'bootstrap';/*importing bootstrap scss files */
@import 'font-awesome';

body{
	padding-top:50px;
}

h1{
	color:$brand-primary;
}

.center-col {
  float: none;
  margin: 0 auto;
}
