/* Footer Styling */

footer{
	margin-bottom: 25px;
	a{
		margin-right: 15px;
		&:hover, &:focus{
			text-decoration: none;
		}
	}

	i{
		margin-right: 15px;
		
		&:before{
			font-size: 20px;
		}
	}
}
