/* 
	Styles here should be specific to this module. It will be aggregated and compiled when the environment starts up.
	example code below
	-----------------------------
*/
@import 'global-variables.styles.scss';

.blog-main{
	max-width: 100rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.blog-post{
  border-bottom: 1px solid #ddd;
	max-width: 100rem;
  padding-bottom: 3rem;
  &:last-child {
    border-bottom: none;
  }
}

.blog-post-meta{
	color:$gray-light;
}

