<div class="container" ng-init="vm.find()">
    <div class="page-header">
        <h3>Profile Information</h3>
    </div>

    <!-- BRING BACK FOR LATER WHEN WE WANT TO UPLOAD
    <div class="btn btn-primary" ngf-select="vm.upload($file)"  name="file" ngf-pattern="'image/*'"
    accept="image/*" ngf-max-size="20MB" ngf-min-height="100" >Select</div> -->


    <form name="profileForm" ng-submit="vm.update(profileForm.$valid)" class="form-horizontal" novalidate>
        <div class="form-group" ng-class="{'has-warning': profileForm.email.$invalid && profileForm.email.$dirty, 'has-success': profileForm.email.$valid && profileForm.email.$dirty}">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" name="email" id="email" ng-model="vm.editProfile.email" class="form-control">
                <p class="help-block" ng-show="profileForm.email.$error.email">Must be a valid email address</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-warning': profileForm.name.$error.pattern, 'has-success': profileForm.name.$valid && profileForm.name.$dirty}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" name="name" id="name" ng-model="vm.editProfile.profile.name" class="form-control"  ng-pattern="/\w+\s\w+/" required>
                <p class="help-block" ng-show="profileForm.name.$error.pattern">Must contain a first and last name</p>
            </div>
        </div>
        <div class="form-group">
            <label for="gender" class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-4">
                <label class="radio col-sm-4">
                    <input type="radio" checked="" name="gender" ng-model="vm.editProfile.profile.gender" value="Male" data-toggle="radio"><span>Male</span></label>
                <label class="radio col-sm-4">
                    <input type="radio" name="gender" ng-model="vm.editProfile.profile.gender" value="Female" data-toggle="radio"><span>Female</span></label>
            </div>
        </div>
        <div class="form-group">
            <label for="location" class="col-sm-2 control-label">Location</label>
            <div class="col-sm-4">
                <input type="text" name="location" id="location" ng-model="vm.editProfile.profile.location" class="form-control">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-warning': profileForm.website.$error.pattern, 'has-success': profileForm.website.$valid && profileForm.website.$dirty}">
            <label for="website" class="col-sm-2 control-label">Website</label>
            <div class="col-sm-4">
              <input type="text" name="website" id="website" ng-model="vm.editProfile.profile.website" class="form-control" ng-pattern="/\w{2,}\.\w{2,}/">
              <p class="help-block" ng-show="profileForm.website.$error.pattern">Must be a valid website</p>
            </div>
        </div>
        <!-- <div class="form-group">
            <label for="gravatar" class="col-sm-2 control-label">Gravatar</label>
            <div class="col-sm-4"><img src="" width="100" height="100" class="profile"></div>
        </div> -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn btn-primary" ng-disabled="profileForm.$invalid"><i class="fa fa-pencil"></i>Update Profile</button>
            </div>
        </div>
    </form>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="token" class="col-sm-2 control-label">API Token</label>
            <div class="col-sm-4">
              <textarea type="text" rows="5" name="token" id="token" ng-model="vm.UserFactory.token" class="form-control" disabled="disabled"></textarea>
            </div>
            <div class="col-sm-offset-2 col-sm-8">
                <button class="btn btn btn-info" ng-click="vm.refreshApiToken()"><i class="fa fa-refresh"></i>Refresh API Token</button>
            </div>
        </div>
        <div class="form-group">
            <!-- <div class="col-sm-offset-2 col-sm-6">
                <p ng-show="!vm.editProfile.connected.azure"><a href="/api/auth/link/azure" target="_parent">Link your Azure account</a></p>
                <p ng-show="vm.editProfile.connected.azure"><a href="/api/auth/unlink/azure" target="_parent">Unlink your Azure account</a></p>
            </div>
            <div class="col-sm-offset-2 col-sm-6">
                <p ng-show="!vm.editProfile.connected.google"><a href="/api/auth/link/google" target="_parent">Link your Google account</a></p>
                <p ng-show="vm.editProfile.connected.google"><a href="/api/auth/unlink/google" target="_parent">Unlink your Google account</a></p>
            </div>
            <div class="col-sm-offset-2 col-sm-6">
                <p ng-show="!vm.editProfile.connected.instagram"><a href="/api/auth/link/instagram" target="_parent">Link your Instagram account</a></p>
                <p ng-show="vm.editProfile.connected.instagram"><a href="/api/auth/unlink/instagram" target="_parent">Unlink your Instagram account</a></p>
            </div>
            <div class="col-sm-offset-2 col-sm-6">
                <p ng-show="!vm.editProfile.connected.facebook"><a href="/api/auth/link/facebook" target="_parent">Link your Facebook account</a></p>
                <p ng-show="vm.editProfile.connected.facebook"><a href="/api/auth/unlink/facebook" target="_parent">Unlink your Facebook account</a></p>
            </div>
            <div class="col-sm-offset-2 col-sm-6">
                <p ng-show="!vm.editProfile.connected.twitter"><a href="/api/auth/link/twitter" target="_parent">Link your Twitter account</a></p>
                <p ng-show="vm.editProfile.connected.twitter"><a href="/api/auth/unlink/twitter" target="_parent">Unlink your Twitter account</a></p>
            </div>
            <div class="col-sm-offset-2 col-sm-6">
                <p ng-show="!vm.editProfile.connected.gitHub"><a href="/api/auth/link/gitHub" target="_parent">Link your GitHub account</a></p>
                <p ng-show="vm.editProfile.connected.gitHub"><a href="/api/auth/unlink/gitHub" target="_parent">Unlink your GitHub account</a></p>
            </div>
            <div class="col-sm-offset-2 col-sm-6">
                <p ng-show="!vm.editProfile.connected.linkedIn"><a href="/api/auth/link/linkedIn" target="_parent">Link your LinkedIn account</a></p>
                <p ng-show="vm.editProfile.connected.linkedIn"><a href="/api/auth/unlink/linkedIn" target="_parent">Unlink your LinkedIn account</a></p>
            </div> -->
        </div>
    </div>
    <!-- <div class="page-header">
        <h3>Change Password</h3></div>
    <form action="/user/password" method="POST" class="form-horizontal">
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">New Password</label>
            <div class="col-sm-4">
                <input type="password" name="password" id="password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-sm-3 control-label">Confirm Password</label>
            <div class="col-sm-4">
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn btn-primary"><i class="fa fa-lock"></i>Change Password</button>
            </div>
        </div>
    </form>
    <div class="page-header">
        <h3>Delete Account</h3></div>
    <p>You can delete your account, but keep in mind this action is irreversible.</p>
    <form action="/user/delete" method="POST">
        <input type="hidden" >
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i>Delete my account</button>
    </form> -->
    
</div>
