<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="page-header">
                <h3>Sign In</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form  name="loginForm" ng-submit="vm.login(loginForm.$valid)" novalidate>
                <div class="form-group" ng-class="{'has-warning': loginForm.email.$invalid && loginForm.email.$dirty, 'has-success': loginForm.email.$valid && loginForm.email.$dirty}">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email@email.com" autofocus="" ng-model="vm.loginCred.email" class="form-control" required>
                    <p class="help-block" id="error-email" ng-show="loginForm.email.$error.email">Must be a valid email address</p>
                </div>
                <div class="form-group" ng-class="{'has-warning': loginForm.password.$invalid && loginForm.password.$dirty, 'has-success': loginForm.password.$valid && loginForm.password.$dirty}">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" ng-model="vm.loginCred.password" class="form-control" ng-minlength="6" ng-pattern="/^(?=.*[a-z])(?=.*\d)(?=.*(_|[^\w])).+$/" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="signin" ng-disabled="loginForm.$invalid">Login</button><a href="/forgot" class="btn btn-link">Forgot your password?</a>
                </div>
            </form>
        </div>
    </div>
</div>
