<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="page-header">
                <h3>Sign Up</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form name="signupForm" id="signup-form" method="POST" ng-submit="vm.signup(signupForm.$valid)" novalidate>
                <div class="form-group" ng-class="{'has-warning': signupForm.name.$error.pattern, 'has-success': signupForm.name.$valid && signupForm.name.$dirty}">
                    <label for="name" class="control-label">Name</label>
                        <input type="text" name="name" id="name" ng-model="vm.loginCred.profile.name" placeholder="First and Last Name" autofocus="" class="form-control" ng-pattern="/\w+\s\w+/" required>
                    <p class="help-block" ng-show="signupForm.name.$error.pattern">Must contain a first and last name</p>
                </div>
                <div class="form-group" ng-class="{'has-warning': signupForm.email.$invalid && signupForm.email.$dirty, 'has-success': signupForm.email.$valid && signupForm.email.$dirty}">
                    <label for="email" class="control-label">Email</label>
                        <input type="email" name="email" id="email" ng-model="vm.loginCred.email" placeholder="Email@email.com" autofocus="" class="form-control" required>
                    <p class="help-block" id="error-email" ng-show="signupForm.email.$error.email">Must be a valid email address</p>
                </div>
                <div ng-class="{'has-error': vm.loginCred.password !== vm.loginCred.confirmPassword && signupForm.confirmPassword.$dirty, 'has-success': signupForm.password.$valid && signupForm.password.$dirty && vm.loginCred.password === vm.loginCred.confirmPassword}">
                  <div class="form-group" ng-class="{'has-warning': signupForm.password.$invalid && signupForm.password.$dirty, 'has-success': signupForm.password.$valid && signupForm.password.$dirty}">
                      <label for="password" class="control-label">Password</label>
                          <input type="password" name="password" id="password" ng-model="vm.loginCred.password" placeholder="Password" class="form-control" ng-minlength="6" ng-pattern="/^(?=.*[a-z])(?=.*\d)(?=.*(_|[^\w])).+$/" required>
                    <p class="help-block" id="error-minlength" ng-show="signupForm.password.$error.minlength">Password must be at least 6 characters long</p>
                    <p class="help-block" id="error-pattern" ng-show="signupForm.password.$error.pattern">Password must contain a letter, a number, and a symbol</p>
                  </div>
                  <div class="form-group">
                      <label for="confirmPassword" class="control-label">Confirm Password</label>
                          <input type="password" name="confirmPassword" id="confirmPassword" ng-model="vm.loginCred.confirmPassword" placeholder="Confirm Password" class="form-control" required>
                  </div>
                  <p class="help-block" ng-show="(vm.loginCred.password !== vm.loginCred.confirmPassword && signupForm.confirmPassword.$dirty)">Passwords must match</p>
                </div>
                <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid || (vm.loginCred.password !== vm.loginCred.confirmPassword && signupForm.confirmPassword.$dirty)">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
